header{
    text-align: center;
    color: white;
}
body{
    
    font: normal 15pt Arial;
}
footer{
    text-align: center;
    color: white;
    margin-top: 10px;
    font-style: italic;
}
section{
    background-color: white;
    border-radius: 20px;
    margin: auto;
    width: 500px;
    padding: 10px;
    box-shadow: 5px 5px 10px;
}

div{
    text-align: center;
    padding: 8px;
}